body {
  background-color: white;
  font-family: Verdana,sans-serif;
  margin: auto;
  max-width: 1000px;
  min-width: 560px;
  padding: 20px 25px;
  width:75%;
}

nav ul {
  background-color: white;
  font-weight: 500;
  list-style-type: none;
  padding: 2%;
  text-align:center;
}

nav li {
  display: inline;
  padding: 2%;
}  

#hlavni-nadpis {
  text-align: center;
}

a {
  color:black;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  color: rgba(31, 162, 238, 0.904);
  text-decoration: none;
}

i {
  font-size:16px;
}

/* hra 3 */
#hra3 {
  display:grid;
  grid-template-columns: auto 35%;
  grid-template-areas:
    "text robot";
  margin: 0px 10px;
}

#ot {
  font-size: 20px;
}

#hra3text {
  grid-area:text;
}

.hra3obr {
  margin-top: 30px;
  text-align: center;
}

.hra3obr input {
  background-color: white;
  border: 3px solid #A7C7E7;
  border-radius:10px;
  color: navy;
  height: 100px;
  margin: 5px;
  padding: 15px;
  text-align: center;
}

#hra3bubbleUvod { 
  background: #A7C7E7;
  border-radius: 75px;
  font-size: 18px;
  padding: 20px 25px;
  text-align:center;
}

#hra3bubbleUvod:before {
  border-top: 13px solid transparent;
  border-left: 85px solid #A7C7E7;
  border-bottom: 13px solid transparent;
  content:"";
  float:right;
  height: 0;
  margin: 140px -90px 30px 0px;
  width: 0;
}

#zpetUD {
  color: rgb(27, 54, 143);
  font-weight: bold;
}

#hra3sidebar {
  grid-area: robot;
}

#dalsi {
  margin-top: 10%;
}

#dalsiBut, #vyhodnotitBut, #zacniHru{
  background-color: #A7C7E7;
  border: 2px solid #A7C7E7;
  border-radius:20px;
  color: navy;
  float: right;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  padding: 15px 25px;
  text-align: center;
  width: 200px;
}


.ans button:hover, .hra3obr input:hover, #dalsiBut:hover, #vyhodnotitBut:hover, #zacniHru:hover, .hra3kamDal button:hover{
  border: 2px solid navy;
}

.ans button {
  background-color: white;
  border: 3px solid #A7C7E7;
  border-radius:10px;
  color: navy;
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  min-width: 100px;
  padding: 15px;
  text-align: center;
  
}

.ans {
  margin-left: -15px;
  text-align: center;
}

.hra3kamDal {
  float:right;
  margin-top:50px;
}

.hra3kamDal button{
  background-color: #A7C7E7;
  border: 2px solid #A7C7E7;
  border-radius:20px;
  color: navy;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  padding: 15px 25px;
  text-align: center;
  width: 180px;
}

#hra3bubbleZaver { 
  background: #A7C7E7;
  border-radius: 50px;
  font-size: 20px;
  margin-top:20px;
  padding: 20px 25px;
  text-align:center;
}

#hra3bubbleZaver:before {
  border-bottom: 13px solid transparent;
  border-left: 85px solid #A7C7E7;
  border-top: 13px solid transparent;
  content:"";
  float:right;
  height: 0;
  margin: 40px -90px 30px 0px;
  width: 0;
}

#hra3robotZaver {
  margin-top: 10px;
}
